* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

html, body {
  height: 100vh;
  width: 100vw;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}
.Main{
  /* height: 150vh; */
  width: 100%;
  background-color: beige;
  padding: 20px;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}
.parent{
  margin: 20px 45px;
  width: 270px;
  height: 370px;
  background-color: white;
  padding: 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.parent .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 53px;
}
.top img{
  height: 50px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 3px;
  background-color: #333;
}
.top button{
  display: flex;
  justify-content: center;
  border: 1px solid #dadada;
  padding: 4px;
  border-radius: 5px;
  gap: 2px;
}
.center h3{
  font-size: 18px;
  font-weight: 500;
}
.center h3 span{
  font-size: 10px;
  font-weight: 500;
}
.center h2{
  font-size: 20px;
}
.center1{
  gap: 15px;
  display: flex;
  margin-top: 8px;
}
.center1 h4{
  border-radius: 7px;
  padding: 3px 10px ;
  background-color: #dadada;
  color: black;
  font-weight: 400;
  font-size: 13px;
}
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #b1b1b1;
}
.bottom p{
  font-weight: 200;
  font-size: 12px;
}
.bottom button{
  margin-top: 10px;
  padding: 12px;
  border-radius: 10px;
  height: 40px;
  background-color: #000;
  color: aliceblue;
  align-items: center;
}